body{
	display:block;
	background-image: url(../img/grey.png);
	margin:0 auto;
}

p{
	font-size:15px;
}




/*vvvvvvvvvvvvvvv constant vvvvvvvvvvvvvvvvv*/
#navBarProfpic {
  max-width: 300px;
  display: block;
  float:left;
  margin-bottom:1%;
  margin-top:2%;

  border-right:solid;
  border-color: rgba(1,1,1,0);
  border-width: 10px;
}

.navbarContentContainer{
	width:800px;
	vertical-align: top;
	margin:0 auto;
	overflow: hidden;
}

.fullNavbarContainer{
	width:70%;
	text-align: center;
	margin: 0 auto;
}

.navBar{
	background-color: rgba(1,1,1,.2);
	border-bottom:solid;
	border-color: rgba(1,1,1,.5);
	-moz-box-shadow: 2px 2px 2px #888888;
	-webkit-box-shadow: 2px 2px 2px #888888;
	box-shadow: 2px 2px 2px #888888;
	z-index:1;
}

.navbarText{
	font-size:22px;
	color: black;
	padding-left:1%;
}

.navbarButtonsContainer{
	margin: 0 auto;
}

.navigationButtons{
	font-size:25px;
	color: black;
	margin: 0 auto;
	padding-right:3%;
	text-align: center;
}

.centerSiteMap{
	text-align: center;
}

.profBoxes{
	background-color: rgba(1,1,1,.2);
	margin-bottom:1%;
	display:block;
	border-radius:3px;
	overflow: none;
  	border-width:1%;

  	padding:2%; 
  	height:180px;

  	border:solid;
  	border-color: rgba(1,1,1,.5);
}

.container{
	margin-top:2%;
	margin-bottom:2%;
	overflow:auto;
	display: block;
}
/*^^^^^^^^^^^^^^^^ constant ^^^^^^^^^^^^^^^^*/





/*vvvvvvvvvvvvvvv Unique to TSuro Page vvvvvvvvvvvvvvvvv*/
#tsuroLink{
	text-align: center;
}
/*^^^^^^^^^^^^^^^ Unique to TSuro Page ^^^^^^^^^^^^^^^^^*/


/*vvvvvvvvvvvvvvv Unique to Team Page vvvvvvvvvvvvvvvvv*/
#teamImage{
	width:300px;
}

#teamImageContainer{
	border:solid;
  	border-color: rgba(1,1,1,.5);
	background-color: rgba(1,1,1,.2);
	padding:1%;
    border-radius:3px;
    margin-top:4%;
    width:330px;
    margin:0 auto;
}

#TeamProfile{
	width:45%;
	float: left;
}
/*^^^^^^^^^^^^^^^ Unique to Team Page ^^^^^^^^^^^^^^^^^*/


/*vvvvvvvvvvvvvvv Unique to Bussiness Page vvvvvvvvvvvvvvvvv*/
.kiteDirectionsContainer{
	border:solid;
  	border-color: rgba(1,1,1,.5);
	background-color: rgba(1,1,1,.2);
	padding:1%;
    border-radius:3px;
    margin-top:2%;
    width:200px;
    margin:0 auto;
}

#kiteLogoDirections{
	text-align: center;
	padding-top:2%;

}

#kiteImage{
	margin-top:2%;
	background-color: rgba(1,1,1,.2);
	border:solid;
	border-color: rgba(1,1,1,.5);
	width:200px;
}
#kiteLogoContainer{
	text-align: center;
}
#KiteTeamProfile{
	width:54%;
	float: right;
}
.businessScreenshots{
	width:250px;
	text-align: center;
}
/*^^^^^^^^^^^^^^^ Unique to Bussiness Page ^^^^^^^^^^^^^^^^^*/



/*vvvvvvvvvvvvvvv Unique to Wordpress Page vvvvvvvvvvvvvvvvv*/
.wordpressLogoAndButtonsContainer{
	border:solid;
  	border-color: rgba(1,1,1,.5);
	background-color: rgba(1,1,1,.2);
	padding:1%;
    border-radius:3px;
    margin-top:2%;
   	-moz-box-shadow: 2px 2px 2px #888888;
	-webkit-box-shadow: 2px 2px 2px #888888;
	box-shadow: 2px 2px 2px #888888;
	z-index:1;
}

.headerAndParagraphContainer{
	border:solid;
  	border-color: rgba(1,1,1,.5);
	background-color: rgba(1,1,1,.2);
	padding:1%;
	padding-bottom:2%;
    border-radius:3px;
    margin:0 auto;
    width:60%;
}



.wordpressParagraph{
	text-align: center;
}

.wordpressPageHeader{
	text-align: center;
}

.wordpressTitle{
	text-align: center;
}

.wordPressScreenShots{
	width:500px;
}



.wordpressImageFullSize{
	width:100%;
}

.wordpressImageMobileSize{
	width:100%;
}

.wordpressImageContainer{
	border:solid;
  	border-color: rgba(1,1,1,.5);
	background-color: rgba(1,1,1,.2);
	padding:2%;
    margin-top:2%;
    border-radius:3px;
    float:left;
    -moz-box-shadow: 2px 2px 2px #888888;
	-webkit-box-shadow: 2px 2px 2px #888888;
	box-shadow: 2px 2px 2px #888888;
	z-index:1;
}

.wordpressFullScrollBox{
	overflow-y: scroll;
	max-height:320px;
	-moz-box-shadow: 2px 2px 2px #888888;
	-webkit-box-shadow: 2px 2px 2px #888888;
	box-shadow: 2px 2px 2px #888888;
	z-index:1;
}

.wordpressMobileScrollBox{
	overflow-y: scroll;
	max-height:320px;
	-moz-box-shadow: 2px 2px 2px #888888;
	-webkit-box-shadow: 2px 2px 2px #888888;
	box-shadow: 2px 2px 2px #888888;
	z-index:1;
}


.wordpressDesktopLabel{
	text-align: center;
	font-size:25px;
}

.wordpressMobileLabel{
	text-align: center;
	font-size:25px;
}

.wordpressHeaderImage{
    max-width:48.5%;
    display:block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

@media screen and (max-width:793px) {
		.wordpressPagePicker{
			position: absolute !important;
		    top: -9999px !important;
			left: -9999px !important; 
		}
		.wordpressPagePickerMobile{
			font-size:20px;
			text-align: center; 
		}
}
@media screen and (min-width:793px) {
		.wordpressPagePicker{
			font-size:20px;
			text-align: center; 
			position: relative;
		}
		.wordpressPagePickerMobile{
			position: absolute !important;
		    top: -9999px !important;
			left: -9999px !important;
			font-size:20px;
			text-align: center; 
		}
}

	/*vvvvvvvvvvvvvvvvvv Desktop View vvvvvvvvvvvvvvvvvv*/
	@media screen and (min-width:993px) {
		.wordpressDesktopContainer{
			float:left;
			width:49%;
		}

		.wordpressMobileContainer{
			float:right;
			width:49%;
		}
	}
	/*^^^^^^^^^^^^^^^^^^^ Desktop View ^^^^^^^^^^^^^^^^*/

	/*vvvvvvvvvvvvvvvvvv Mobile View vvvvvvvvvvvvvvvvvv*/
	@media screen and (max-width:993px) {
		.wordpressDesktopContainer{
			display: block;
			margin:0 auto;
			width:80%;
		}

		.wordpressMobileContainer{
			display: block;
			margin:0 auto;
			width:80%;
		}

		.wordpressFullScrollBox{
			overflow-y: scroll;
			max-height: 500px;
			margin-bottom:25px;
		}

		.wordpressMobileScrollBox{
			overflow-y: scroll;
			max-height: 500px;
			margin-bottom:1%;
		}
		.headerAndParagraphContainer{
		    width:100%;
		}
	}
	/*^^^^^^^^^^^^^^^^^^^ Mobile View ^^^^^^^^^^^^^^^^*/


/*^^^^^^^^^^^^^^^ Unique to Wordpress Page ^^^^^^^^^^^^^^^^^*/



#marginContainer{
	margin-top:2%;
}

.miniHeaders{
	text-align: center;
}

.nameHeader{
	color:black
}

.naviagtionStyle{
	color: black;
}

.navbarContainer{
	background-color: rgba(1,1,1,.2);
}
/*
#EcommerceProfile{
	width:54%;
	float: left;
}

#JSfiddleCloneProfile{
	width:45%;
	float: right;
}
*/



/*vvvvvvvvvvvvvvvvvv Footer vvvvvvvvvvvvvvvvvv*/

footer{
	text-align: center;
	background-color: rgba(1,1,1,.2);
	bottom:0;
	padding-top:10px;
	padding-bottom:10px;
	overflow:hidden;

	border-top:solid;
	border-color: rgba(1,1,1,.5);
	-moz-box-shadow: 2px -2px 2px #888888;
	-webkit-box-shadow: 2px -2px 2px #888888;
	box-shadow: 2px -2px 2px #888888;
	z-index:1;
}
#name{
}
#siteMap{
}
#number{
}

#email{
}

#linkedInButton{

}

#resumePdf{
}

#resumeWord{
}

.footerBorder{
	width:80%;
	margin:0 auto;
}

.containerWithFooter{
	position:relative;
}



#linkedInContainer{

}

#contactContainer{
	padding-top:20px;
}
.pdf{
	z-index:1000;
}

.profileBoxLinks{
	color:black;
}

.footerText{
	margin-bottom:1%;
	display:block;
	border-radius:3px;
	overflow: none;
  	border-width:1%;
}

#resumeContainer{
	text-align: center;
	padding: 10px;
}

#resumeImage1{
	width: 100%;
	text-align: center;
	border-radius: 3px;
	-moz-box-shadow: 2px 2px 2px #888888;
	-webkit-box-shadow: 2px 2px 2px #888888;
	box-shadow: 2px 2px 2px #888888;
	z-index:1;
	margin-bottom: 20px;
}
#resumeImage2{
	width: 100%;
	text-align: center;
	border-radius: 3px;
	-moz-box-shadow: 2px 2px 2px #888888;
	-webkit-box-shadow: 2px 2px 2px #888888;
	box-shadow: 2px 2px 2px #888888;
	z-index:1;
}

#resumeImageContainer{
	padding: 20px;
	background-color: rgba(1,1,1,.2);
	border:solid;
	/*border-width: 2px;*/
	border-radius: 5px;
	border-color: rgba(1,1,1,.5);

	-moz-box-shadow: 2px 2px 2px #888888;
	-webkit-box-shadow: 2px 2px 2px #888888;
	box-shadow: 2px 2px 2px #888888;
	z-index:1;
}

@media screen and (min-width:768px){
	#name{
		padding-top:15px;
		padding-bottom: 4px;
		/*margin-bottom:25px;*/
	}
	#siteMap{
		padding-top:15px;
	}
	#resumeContainer{
		padding-top:15px;

	}

	#contactContainer{
		padding-top:15px;
	}
}

/*^^^^^^^^^^^^^^^^^^^ Footer ^^^^^^^^^